.logo img {
      text-align: center;
      border-radius: 50px;
}
.cardd {
      text-align: center;
      background-color: #5EACD1;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      padding: 20px;
      margin-bottom: 20px;
}
.card {
      text-align: center;
      background-color: #50C878;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      padding: 20px;
      margin-bottom: 20px;
}
body {
  background-color: #262433;
}

.slides {
  display:grid;
  gap:1rem;
  grid-auto-flow:column;
  overflow-y:auto;
  scroll-snap-type(:x mandatory;
  scrollbar-width:none;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides img {
/*   scroll-snap이 달라붙는 item 기준 start, end, center */
  scroll-snap-align: start;
  height:500px;
}
